.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px 16px 0px 16px;
}

.mainContainer {
	width: 980px;
	margin: 0 auto;
	padding-top: 20px;
	flex-grow: 1;
}

.ratedHeader {
	justify-content: space-between;
}

.pageTitle {
	font-size: 32px;
	line-height: 1.4;
	font-weight: 700;
	padding: 16px 0;
}

.searchContainer {
	display: flex;
	border: 1px solid var(--mantine-color-orange-1);
	padding: 8px;
	border-radius: 8px;
	background-color: #ffffff;

	input {
		border: 0px;
		width: 350px;
	}
}
