.container {
	background: var(--mantine-color-orange-4);
	background: linear-gradient(
		90deg,
		rgba(255, 135, 0, 1) 0%,
		rgba(255, 179, 0, 1) 100%
	);
	min-width: 280px;
	padding: 24px;
	min-height: 100vh;
}

.linksContainer {
	margin-top: 80px;
}

.link {
	width: 100%;
	padding: 10px;
	display: block;
	text-transform: capitalize;
	font-weight: 400;
	color: var(--mantine-color-red-9);
	background-color: #ffab51;
	border-radius: 8px;
	transition: all ease-in-out 0.3s;
	border: 1px solid #ffab51;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	&:hover {
		border-color: var(--mantine-color-yellow-2);
	}
}

.linkActive {
	font-weight: 600;
	color: var(--mantine-color-yellow-4);
	background-color: var(--mantine-color-brown-5);
	border: 1px solid var(--mantine-color-brown-5);

	&:hover {
		border-color: var(--mantine-color-brown-5);
		cursor: default;
	}
}
