.brown {
	color: #e9e1d9;
	color: #d6bb9e;
	color: #d5aa7d;
	color: #db9c59;
	color: #fe8300;
	color: #ce7517;
	color: #a96925;
	color: #8c5e2d;
	color: #755431;
	color: #554432;
}

.orange {
	color: #fff4e2;
	color: #ffe9cc;
	color: #ffd09c;
	color: #fdb766;
	color: #fca13a;
	color: #fb931d;
	color: #fc8c0c;
	color: #e17900;
	color: #c86a00;
	color: #ae5a00;
}

.yellow {
	color: #eae9da;
	color: #d7d69f;
	color: #d5d47e;
	color: #dbd95a;
	color: #fffc00;
	color: #cfcc17;
	color: #a9a825;
	color: #8d8b2d;
	color: #767531;
	color: #565532;
}

.red {
	color: #c9a3a3;
	color: #c38989;
	color: #c54d4d;
	color: #cc2d2d;
	color: #ce0000;
	color: #a71313;
	color: #891e1e;
	color: #722525;
	color: #5f2828;
	color: #452828;
}
