body {
	font-weight: 200;
}

a {
	text-decoration: none;
	color: inherit;
}

.pageWrapper {
	gap: 0;
	max-width: 1440px;
	overflow-x: hidden;
	margin: 0 auto;
}

.pageContainer {
	background-color: #fffcf8;
	display: flex;
}

// Mantine styles override
.mantine-Modal-header {
	border-bottom: 1px solid var(--mantine-color-brown-0);
}
