.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px 16px 0px 16px;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

// Card section
.cardContainer {
	border-radius: 12px;
	background-color: #ffffff;
	padding: 24px;
}

.card {
	display: flex;
	gap: 14px;
	position: relative;
	margin-bottom: 20px;

	span {
		color: var(--mantine-color-yellow-7);
		padding-right: 10px;
		font-weight: normal;
	}
}

.info {
	min-height: 100%;
	margin-right: 50px;
	justify-content: space-between;
}

.title {
	color: var(--mantine-color-orange-9);
	font-size: 20px;
	font-weight: 700;
}

.movieDetails {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 5px 20px;

	span {
		color: var(--mantine-color-yellow-8);
		font-weight: normal;
	}

	div {
		font-weight: 500;
	}
}

.linkMovieHomepage {
	color: var(--mantine-color-orange-6);
	transition: color 0.3s ease-in-out;

	&:hover {
		color: var(--mantine-color-orange-4);
	}
}

// Trailer section
.trailer {
	border-radius: 12px;
	background-color: #ffffff;
	padding: 24px;

	h6 {
		font-size: 20px;
		padding: 20px 0px;
		margin: 0px;
	}
}

.video {
	border-bottom: 1px solid var(--mantine-color-brown-0);
	padding-bottom: 16px;
}

.description {
	border-bottom: 1px solid var(--mantine-color-brown-0);
	padding-bottom: 16px;

	p {
		line-height: 1.5;
		margin: 0px;
	}
}

.productionDetails {
	display: flex;
	gap: 0px 20px;
	align-items: center;
	font-weight: 500;
	color: var(--mantine-color-brown-9);

	span {
		color: #000000;
		font-weight: normal;
	}
}
